{% extends "base.html" %}
{% block content %}
    <h1>TopDelivery Service API</h1>

<h3>3.2.1.  Получение авторизационных данных клиента СД.</h3>
Авторизационные данные получаются HTTP запросом к сервису пользователей с указанием номера договора, переданного в заказе.

<h3>3.2.2.  Интерфейс работы с Заказами</h3>
Позволяет регистрировать отправления в службе доставки, а так же получать текущее их состояние.
Структура заказа описана в отдельном документе.

<h4>3.2.2.1.  Получить список активных Заказов.</h4>
url: /order
method: GET

<h4>3.2.2.2.  Создание Заказа.</h4>
url: /order
method: POST
Платформа передает

<h4>3.2.2.3.  Получение данных заказа.</h4>
url: /order/<id>
method: GET
<id> - идентификатор заказа в СД

3.2.2.4.  Редактирование Заказа.
url: /order/<id>
method: PUT
<id> - идентификатор заказа в СД
3.2.2.5.  Удаление Заказа.
url: /order/<id>
method: DELETE
<id> - идентификатор заказа в СД
3.2.3.  Интерфейс работы с Манифестами
3.2.3.1.  Получить список активных манифестов
url: /manifest
method: GET
3.2.3.2.  Создать Манифест.
url: /manifest
method: POST
3.2.3.3.  Получить данные Манифеста.
url: /manifest/<id>
method: GET
3.2.3.4.  Редактировать Манифест.
url: /manifest/<id>
method: PUT
3.2.3.5.  Удалить Манифест.
url: /manifest/<id>
method: DELETE
3.2.4.  Интерфейс работы с Трекингом
3.2.4.1.  Получить Трекинг по номеру Заказа.
url: /tracking/<id>
method: GET

{% endblock %}