{% extends "base.html" %}
{% block content %}
    <h1>TopDelivery Service API</h1>

    <h3>3.2.1.  Получение авторизационных данных клиента СД.</h3>
    Авторизационные данные получаются HTTP запросом к сервису пользователей с указанием номера договора, переданного в заказе.

    <h3>3.2.2.  Интерфейс работы с Заказами</h3>
    Позволяет регистрировать отправления в службе доставки, а так же получать текущее их состояние.
    Структура заказа описана в отдельном документе.

    <h4>3.2.2.1.  Получить список активных Заказов.</h4>
    url: <a href="/order" target="_blank">/order</a> <br />
    method: GET

    <h4>3.2.2.2.  Создание Заказа.</h4>
    url: /order <br />
    method: POST <br />
    Платформа передает <br />

    <h4>3.2.2.3.  Получение данных заказа.</h4>
    url: <a href="/order/22" target="_blank">/order/&lt;id&gt;</a> <br />
    method: GET <br />
    &lt;id&gt; - идентификатор заказа в СД<br />

    <h4>и так далее...</h4>

    <h3>Исходный код
        <a target="_blank" href="https://github.com/ffedoroff/topdelivery-service/blob/master/app/service/views.py">view</a>
        и
        <a target="_blank" href="https://github.com/ffedoroff/topdelivery-service/blob/master/app/service/templates/index.html">template</a>
    </h3>

    Design by <a target="_blank" href="http://motherfuckingwebsite.com/">motherfuckingwebsite</a>
{% endblock %}